.about_us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 180px;
  }
  @media #{$tablet} {
    background-image: url("../images/about_us_bg.jpg"), url("../images/about_us_bg.jpg");
    background-position: 140% center, -40% center;
    background-repeat: no-repeat, no-repeat;
    background-size: 402px 403px, 402px 403px;
  }
  @media #{$desktop} {
    background-image: url("../images/about_us_bg.jpg"), url("../images/about_us_bg.jpg");
    background-position: 128% 43%, -29% 43%;
    background-repeat: no-repeat, no-repeat;
    background-size: 680px 674px, 680px 674px;
    padding-top: 250px;
  }

  &__heading {
    color: #343434;
    font-family: $fonts_secondary;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.39px;
    line-height: 35px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    @media #{$tablet} {
      font-size: 50px;
      font-weight: 500;
      letter-spacing: 0.65px;
      line-height: 60px;
      margin-top: -8px;
      margin-bottom: 40px;
    }
    @media #{$desktop} {
      font-size: 50px;
      font-weight: 450;
      letter-spacing: 0.65px;
      line-height: 60px;
      margin-bottom: 44px;
    }

    &--br {
      @media #{$tablet} {
        display: none;
      }
      @media #{$desktop} {
        display: none;
      }
    }
  }

  &__text {
    color: #565757;
    font-family: $fonts_secondary;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.23px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 26px;
    @media #{$tablet} {
      font-size: 20px;
      letter-spacing: 0.26px;
      width: 676px;
      margin-bottom: 43px;
    }
    @media #{$desktop} {
      width: 920px;
      font-size: 20px;
      letter-spacing: 0.26px;
      margin-bottom: 40px;
    }
  }

  &__round {
    height: 54px;
    background-color: #fff;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 100%;
    margin-top: 69px;
    z-index: 10;
  }
}
