.footer {
  background-color: $footer_backgroudcolor;

  &__round {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 54px;
    background-color: #030310;
    width: 100%;
    border-top: 5px solid #68c400;
    margin-top: -25px;
  }

  &__up {
    text-align: center;
    margin-bottom: 80px;

    &--item {
      display: block;
      color: #fff;
      font-family: $fonts_secondary;
      font-size: 30px;
      font-weight: 500;
      letter-spacing: 0.39px;
      margin-top: 93px;
      margin-bottom: 38px;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
        transition: 0.5s;
      }
    }

    &--text1,
    &--text2 {
      color: #fff;
      font-family: $fonts_primary;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.23px;
      line-height: 27px;
    }

    &--text1 {
      color: #68c400;
    }

    &--text2 {
      color: #fff;
      margin-bottom: 20px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__down {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--heading {
      color: #fff;
      font-family: $fonts_secondary;
      font-size: 30px;
      font-weight: 500;
      letter-spacing: 0.39px;
      margin-bottom: 36px;
    }

    &--line {
      border: 2px solid #222;
      opacity: 0.5;
      height: 0;
      width: 340px;
      margin-bottom: 38px;
    }

    &--text1,
    &--text2 {
      display: inline;
      color: #fff;
      font-family: $fonts_primary;
      font-size: 20px;
      letter-spacing: 0.26px;
    }

    &--text1 {
      font-weight: 300;
    }

    &--text2 {
      font-weight: 500;
      margin-bottom: 40px;
    }
  }
}

.social_media {
  vertical-align: top;
  margin-bottom: 69px;
  display: flex;
  justify-content: center;
  flex-direction: row;

  .facebook,
  .twitter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    vertical-align: top;
  }

  .facebook {
    border: 3px solid #4144bc;
    margin-right: 20px;

    &:hover {
      background-color: rgba(65, 68, 188, 0.3);
      transition: background-color 0.5s;
    }
  }

  .twitter {
    border: 3px solid #0099ff;

    &:hover {
      background-color: rgba(0, 153, 255, 0.3);
      transition: background-color 0.5s;
    }
  }
}

.makowski__logo {
  width: 134px;
  height: 84px;
  margin-bottom: 28px;
}
