.footer {
  background-color: $footer_backgroudcolor;
  &__desktop {
    @media #{$desktop} {
      width: 1400px;
    }
  }
  &__large {
    @media #{$desktop} {
      width: 1400px;
      margin-top: -200px;
    }
  }

  &__large {
    @media #{$desktop} {
      width: 1400px;
      margin-top: -200px;
    }
  }

  &__logo {
    display: none;
    @media #{$desktop} {
      display: block;
      width: 166px;
      height: 160px;
    }
  }

  &__part1 {
    @media #{$tablet} {
      display: flex;
      justify-content: center;
    }
  }

  &__part2 {
    @media #{$tablet} {
      display: flex;
      justify-content: center;
    }
    @media #{$lgscreen} {
      margin-top: 88px;
    }
  }

  &__part3 {
    @media #{$tablet} {
      display: flex;
      justify-content: center;
    }
  }

  &__round {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 54px;
    background-color: #030310;
    width: 100%;
    border-top: 5px solid #68c400;
    margin-top: -25px;
    @media #{$tablet} {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: 0;
      margin-top: -76px;
    }

    &--offer {
      @media #{$tablet} {
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-top: 5px solid #68c400;
        margin-top: 0;
      }
    }
  }

  &__up {
    text-align: center;
    margin-bottom: 80px;
    @media #{$desktop} {
      display: inline-block;
      margin-top: 280px;
      vertical-align: top;
      margin-right: 160px;
    }
    @media #{$lgscreen} {
      margin-right: 147px;
      margin-bottom: 0;
    }

    &--item {
      display: block;
      color: #fff;
      font-family: $fonts_secondary;
      font-size: 30px;
      font-weight: 500;
      letter-spacing: 0.39px;
      margin-top: 93px;
      margin-bottom: 38px;
      cursor: pointer;
      @media #{$tablet} {
        margin-top: 141px;
        font-size: 40px;
        letter-spacing: 0.52px;
        margin-bottom: 17px;
      }
      @media #{$desktop} {
        margin-top: 245px;
        margin-top: 0;
      }
      @media #{$lgscreen} {
        font-size: 36px;
        letter-spacing: 0.52px;
        text-align: left;
      }

      &:hover {
        opacity: 0.5;
        transition: 0.5s;
      }
    }

    &--text1,
    &--text2 {
      color: #fff;
      font-family: $fonts_primary;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.23px;
      line-height: 27px;
      @media #{$tablet} {
        font-size: 18px;
        letter-spacing: 0.26px;
        line-height: 32px;
      }
      @media #{$lgscreen} {
        font-size: 20px;
        text-align: left;
      }
    }

    &--text1 {
      color: #68c400;
      padding-left: 5px;
      @media #{$tablet} {
        padding-right: 15px;
        margin-left: 21px;
      }
      @media #{$lgscreen} {
        padding-left: 0;
      }
    }

    &--text2 {
      color: #fff;
      margin-bottom: 20px;
      @media #{$tablet} {
        margin-right: 33px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__down {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media #{$desktop} {
      display: inline-block;
      vertical-align: top;
      margin-top: 280px;
    }

    &--heading {
      color: #fff;
      font-family: $fonts_secondary;
      font-size: 30px;
      font-weight: 500;
      letter-spacing: 0.39px;
      margin-bottom: 36px;
      @media #{$lgscreen} {
        font-size: 40px;
        letter-spacing: 0.52px;
      }
    }

    &--line {
      border: 2px solid #222;
      opacity: 0.5;
      height: 0;
      width: 100%;
      margin-bottom: 38px;
      @media #{$lgscreen} {
        margin-bottom: 10px;
      }
    }

    &--text1,
    &--text2 {
      display: inline;
      color: #fff;
      font-family: $fonts_primary;
      font-size: 20px;
      letter-spacing: 0.26px;
    }

    &--text1 {
      font-weight: 300;
    }

    &--text2 {
      font-weight: 500;
      margin-bottom: 40px;
    }
  }

  &__br--tablet {
    display: none;
  }
}

.social_media {
  vertical-align: top;
  margin-bottom: 69px;
  display: flex;
  justify-content: center;
  flex-direction: row;

  .facebook,
  .twitter,
  .instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 10px;
  }

  .facebook {
    border: 3px solid #4144bc;

    &:hover {
      background-color: rgba(65, 68, 188, 0.3);
      transition: background-color 0.5s;
    }
  }

  .twitter {
    border: 3px solid #0099ff;

    &:hover {
      background-color: rgba(0, 153, 255, 0.3);
      transition: background-color 0.5s;
    }
  }
  .instagram {
    border: 3px solid #8a3ab9;
    img {
      width: 30px;
    }
    &:hover {
      background-color: rgba(188, 42, 141, 0.3);
      transition: background-color 0.5s;
    }
  }
}

.copyright__part1 {
  display: block;
  @media (min-width: 1040px) {
    display: none;
  }
}

.copyright__part2 {
  text-align: center;

  .footer__down {
    &--line {
      width: 100%;
    }

    &--text1,
    &--text2 {
      font-size: 20px;
      letter-spacing: 0.26px;
    }

    &--text1 {
      font-weight: 300;
    }

    &--text2 {
      font-weight: 500;
    }
  }
  display: none;
  @media (min-width: 1040px) {
    display: block;
  }
}

.makowski__logo {
  width: 134px;
  height: 84px;
  margin-bottom: 28px;

  &--lgscreen {
    display: none;
    @media #{$desktop} {
      display: block;
    }
  }
  @media #{$desktop} {
    width: 193px;
    height: 121px;
  }
  @media #{$lgscreen} {
    margin-top: 10px;
    margin-left: 76px;
  }
}
