.header {
  background-image: radial-gradient(1344px 672px at 50% 0%, rgba(0, 0, 0, 0.88) 0%, rgba(0, 0, 0, 0.6) 100%), url("../images/header_phone_bg.jpg");
  opacity: 0.75;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media #{$tablet} {
    background-image: radial-gradient(1380px 690px at 30.88% 0%, rgba(0, 0, 0, 0.61) 0%, #000000 100%), url("../images/header_tablet_bg.jpg");
    opacity: 0.75;
    -webkit-clip-path: ellipse(150% 100% at 50% 0);
    clip-path: ellipse(150% 100% at 50% 0);
    padding-bottom: 22px;
  }

  &__round {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 54px;
    background-color: #fff;
    width: 100%;
    @media #{$tablet} {
      display: none;
    }
  }

  &__heading {
    display: none;
    @media #{$tablet} {
      text-align: center;
      display: block;
      color: #ffffff;
      font-family: $fonts_secondary;
      font-size: 40px;
      font-weight: 500;
      letter-spacing: 0.78px;
      line-height: 45px;
      margin-bottom: 40px;
    }
  }

  .header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 176px;
    margin-bottom: 100px;
    @media #{$tablet} {
      margin-top: 82px;
      margin-bottom: 80px;
    }

    &--element {
      width: 240px;
      height: 230px;
    }
  }

  .seemenu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
  }

  .closebtn {
    position: relative;
    z-index: 2;
  }

  .hamburger__nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;

    &--menu {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }

    &.active {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-image: radial-gradient(1400px 700px at 50% 0%, rgba(0, 0, 0, 0.88) 0%, rgba(0, 0, 0, 0.95) 100%);
      opacity: 0.9;
      transition: all 0.5s;
    }

    &--menu {
      text-align: center;
      margin-top: -10px;
    }

    &--element {
      display: block;
      text-align: center;
      color: #fff;
      font-family: $fonts_primary;
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 0.39px;
      text-transform: uppercase;
      margin-bottom: 27px;
    }
  }

  .hamburger__menu {
    cursor: pointer;
    position: absolute;
    width: 35px;
    top: 44px;
    left: 37px;
    z-index: 2;
    @media #{$tablet} {
      top: 187px;
      left: 90px;
      width: 38px;
    }

    &--item {
      background-color: #fff;
      border-radius: 2px;
      content: '';
      display: block;
      width: 100%;
      height: 4px;
    }

    span:nth-child(1) {
      -webkit-animation: outT 0.8s backwards;
      animation: outT 0.8s backwards;
      -webkit-animation-direction: reverse;
      animation-direction: reverse;
    }

    span:nth-child(2) {
      margin: 5px 0;
      -webkit-animation: outM 0.8s backwards;
      animation: outM 0.8s backwards;
      -webkit-animation-direction: reverse;
      animation-direction: reverse;
    }

    span:nth-child(3) {
      -webkit-animation: outBtm 0.8s backwards;
      animation: outBtm 0.8s backwards;
      -webkit-animation-direction: reverse;
      animation-direction: reverse;
    }

    &.active {
      position: fixed;

      span:nth-child(1) {
        -webkit-animation: inT 0.8s forwards;
        animation: inT 0.8s forwards;
      }

      span:nth-child(2) {
        -webkit-animation: inM 0.8s forwards;
        animation: inM 0.8s forwards;
      }

      span:nth-child(3) {
        -webkit-animation: inBtm 0.8s forwards;
        animation: inBtm 0.8s forwards;
      }
    }
  }
}
