.header {
  background-image: radial-gradient(1344px 672px at 50% 0%, rgba(0, 0, 0, 0.88) 0%, rgba(0, 0, 0, 0.4) 100%), url("../images/header_phone_bg.jpg");
  opacity: 0.75;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media #{$tablet} {
    background-image: radial-gradient(1380px 690px at 30.88% 0%, rgba(0, 0, 0, 0.61) 0%, #000000 100%), url("../images/header_tablet_bg.jpg");
    opacity: 0.75;
    -webkit-clip-path: ellipse(127% 100% at 50% 0);
    clip-path: ellipse(127% 100% at 50% 0);
    padding-bottom: 22px;
  }
  @media #{$desktop} {
    background-image: radial-gradient(1600px 800px at 50% 40%, rgba(0, 0, 0, 0.06) 0%, #000000 100%), url("../images/header_desktop_bg.jpg");
    opacity: 0.9;
    -webkit-clip-path: ellipse(96% 100% at 50% 0);
    clip-path: ellipse(96% 100% at 50% 0);
    padding-bottom: 60px;
  }

  &__round {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 54px;
    background-color: #fff;
    width: 100%;
    @media #{$tablet} {
      display: none;
    }
    @media #{$desktop} {
      display: none;
    }
  }

  &__heading {
    display: none;
    @media #{$tablet} {
      text-align: center;
      display: block;
      color: #fff;
      font-family: $fonts_secondary;
      font-size: 40px;
      font-weight: 500;
      letter-spacing: 0.78px;
      line-height: 45px;
      margin-bottom: 40px;
    }
    @media #{$desktop} {
      color: #fff;
      font-family: $fonts_secondary;
      font-size: 60px;
      font-weight: 500;
      letter-spacing: 0.78px;
      line-height: 65px;
      text-align: center;
      display: block;
      margin-bottom: 56px;
    }
  }

  .header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 176px;
    margin-bottom: 100px;
    @media #{$tablet} {
      margin-top: 82px;
      margin-bottom: 80px;
    }
    @media #{$desktop} {
      margin-bottom: 124px;
    }

    &--element {
      width: 240px;
      height: 230px;
      @media #{$desktop} {
        display: none;
      }
    }
  }

  .seemenu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    @media #{$desktop} {
      margin-bottom: 113px;
    }
  }

  .closebtn {
    position: relative;
    z-index: 2;
  }

  .hamburger__nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;

    &--menu {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }

    &.active {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-image: radial-gradient(1400px 700px at 50% 0%, rgba(0, 0, 0, 0.88) 0%, rgba(0, 0, 0, 0.95) 100%);
      opacity: 0.9;
      transition: all 0.5s;
    }

    &--menu {
      text-align: center;
      margin-top: -10px;
    }
  }

  .hamburger__menu {
    cursor: pointer;
    position: absolute;
    width: 35px;
    top: 44px;
    left: 37px;
    z-index: 2;
    @media #{$tablet} {
      top: 187px;
      left: 90px;
      width: 38px;
    }
    @media #{$desktop} {
      display: none;
    }

    &--item {
      background-color: #fff;
      border-radius: 2px;
      content: '';
      display: block;
      width: 100%;
      height: 4px;
    }

    span:nth-child(1) {
      -webkit-animation: outT 0.8s backwards;
      animation: outT 0.8s backwards;
      -webkit-animation-direction: reverse;
      animation-direction: reverse;
    }

    span:nth-child(2) {
      margin: 5px 0;
      -webkit-animation: outM 0.8s backwards;
      animation: outM 0.8s backwards;
      -webkit-animation-direction: reverse;
      animation-direction: reverse;
    }

    span:nth-child(3) {
      -webkit-animation: outBtm 0.8s backwards;
      animation: outBtm 0.8s backwards;
      -webkit-animation-direction: reverse;
      animation-direction: reverse;
    }

    &.active {
      position: absolute;

      span:nth-child(1) {
        -webkit-animation: inT 0.8s forwards;
        animation: inT 0.8s forwards;
      }

      span:nth-child(2) {
        -webkit-animation: inM 0.8s forwards;
        animation: inM 0.8s forwards;
      }

      span:nth-child(3) {
        -webkit-animation: inBtm 0.8s forwards;
        animation: inBtm 0.8s forwards;
      }
    }
  }
}

.pushmenu {
  background: #444;
  text-align: center;
  width: 300px;
  height: 100%;
  top: 0;
  z-index: 1000;
  position: fixed;
}

.links {
  list-style-type: none;
  padding: 0;
  margin: 60px 0 0 25%;
  width: 50%;
}

.links li {
  margin-top: 30px;
}

.links li a {
  position: relative;
  display: block;
  text-decoration: none;
  padding: 14px 14px 14px 0;
  text-align: center;
  color: #fff;
  font-family: $fonts_primary;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.39px;
  text-transform: uppercase;
  margin-bottom: 27px;
  text-align: left;
}

.links li a:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 4px;
  background-color: #f1f1f1;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.links li a:hover:after {
  width: 100%;
}

.links li a:active {
  color: #dbdbdb;
}

.pushmenu-left {
  left: -300px;
}

.pushmenu-left.pushmenu-open {
  left: 0;
}

.pushmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.pushmenu-push-toright {
  left: 300px;
}

.pushmenu,
.pushmenu-push {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav-list.active {
  background-position: -331px top;
}

.buttonset {
  background: #00A287;
  height: 16px;
  padding: 10px 20px 20px;
}

section.content {
  padding: 10px 20px;
}

.pushmenu,
.pushmenu-push {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
// navigation

.nav {
  display: none;
  position: relative;
  @media #{$desktop} {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
}

.nav__left {
  display: flex;
  position: absolute;
  left: 0;
  margin-top: 84px;
  margin-left: 60px;
}

.nav__right {
  display: flex;
  position: absolute;
  right: 0;
  margin-top: 80px;
}

.nav__left,
.nav__right {
  &--link {
    color: #fff;
    font-family: $fonts_primary;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.26px;
  }

  &--link {
    text-decoration: none;
  }

  &--contact {
    width: 197px;
    height: 52px;
    border-radius: 5px;
    border: 2px solid #fff;
    text-align: center;
    padding: 10px 30px;
    font-family: $fonts_primary;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.26px;
    align-self: center;
  }
}

.nav__left {
  &--link {
    margin-right: 40px;
  }
}

.nav__right {
  &--link {
    margin-left: 40px;
  }
}

.main_logo {
  display: block;
  position: absolute;
  margin-top: 80px;
}

.main_nav--logo {
  width: 166px;
  height: 160px;
}
