.hero {
  margin-top: 98px;
  margin-bottom: 121px;
  @media #{$tablet} {
    margin-top: 150px;
  }

  &__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media #{$tablet} {
      flex-direction: row;
    }
  }

  &__offer {
    color: #343434;
    font-family: $fonts_secondary;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.65px;
    line-height: 35px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 33px;
    @media #{$tablet} {
      margin-bottom: 38px;
    }
    @media #{$tablet} {
      font-size: 50px;
      line-height: 60px;
    }

    &--br {
      @media #{$tablet} {
        display: none;
      }
    }
  }

  &__button {
    width: 340px;
    color: #fff;
    font-family: $fonts_primary;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.36px;
    line-height: 28px;
    margin-bottom: 38px;
    @media #{$tablet} {
      text-align: center;
      margin-right: 20px;
      margin-left: 20px;
      width: 364px;
      height: 80px;
      line-height: 55px;
    }
  }
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -27px;
  z-index: 2;
  -webkit-animation: bounce 0.8s infinite alternate;
  animation: bounce 0.8s infinite alternate;
  @media #{$tablet} {
    margin-top: 0;
  }

  &__img {
    cursor: pointer;
  }

  &__item {
    display: block;
  }
}
