.offer {
  text-align: center;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__heading {
    color: #343434;
    font-family: $fonts_secondary;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.39px;
    line-height: 35px;
    margin-bottom: 39px;
    @media #{$tablet} {
      font-size: 50px;
      letter-spacing: 0.65px;
      line-height: 60px;
    }
  }

  &__text {
    max-width: 340px;
    color: #565757;
    font-family: $fonts_secondary;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.23px;
    line-height: 27px;
    margin-bottom: 148px;
    @media #{$tablet} {
      font-size: 20px;
      letter-spacing: 0.26px;
      width: 676px;
    }
    @media #{$desktop} {
      max-width: 920px;
      margin-bottom: 100px;
    }
  }

  &__element {
    width: 340px;
    height: 165px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media #{$tablet} {
      width: 677px;
      height: 259px;
      margin-bottom: 60px;
    }
    @media #{$desktop} {
      width: 680px;
      height: 260px;
      margin: 40px;
    }
  }

  &__inside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 322px;
    height: 147px;
    border-radius: 20px;
    border: 6px solid #fff;
    @media #{$tablet} {
      width: 658px;
      height: 240px;
    }
    @media #{$desktop} {
      width: 662px;
      height: 242px;
    }
  }

  &__canapes,
  &__coffee,
  &__communion,
  &__dinner,
  &__family,
  &__lunch {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
  }

  &__coffee {
    background-image: url("../images/coffee.png");

    &:hover {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/coffee.png");
      border-radius: 25px;
      transition: background-image 1s;
    }
  }

  &__canapes {
    background-image: url("../images/canapes.png");

    &:hover {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/canapes.png");
      border-radius: 25px;
    }
  }

  &__lunch {
    background-image: url("../images/lunch.png");

    &:hover {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/lunch.png");
      border-radius: 25px;
    }
  }

  &__dinner {
    background-image: url("../images/dinner.png");
    margin-bottom: 148px;

    &:hover {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/dinner.png");
      border-radius: 25px;
    }
  }

  &__communion {
    background-image: url("../images/communion.png");

    &:hover {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/communion.png");
      border-radius: 25px;
    }
  }

  &__family {
    background-image: url("../images/family.png");

    &:hover {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/family.png");
      border-radius: 25px;
    }
  }
}

.business_offer,
.individual_offer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__desktop {
    display: flex;
    flex-direction: column;
    @media #{$desktop} {
      flex-direction: row;
    }
  }

  &__heading {
    color: #343434;
    font-family: $fonts_secondary;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.39px;
    line-height: 35px;
    margin-bottom: 39px;
    @media #{$tablet} {
      font-size: 50px;
      letter-spacing: 0.65px;
      line-height: 60px;
    }
  }
}

.individual_offer {
  padding-bottom: 65px;
  @media #{$tablet} {
    padding-bottom: 220px;
  }

  &__desktop {
    display: flex;
    flex-direction: column;
    @media #{$desktop} {
      flex-direction: row;
    }
  }
}

.offers__text {
  color: #343434;
  font-family: $fonts_primary;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.25px;
  line-height: 24px;
  border-radius: 12px;
  background-color: #fff;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media #{$tablet} {
    font-size: 30px;
    letter-spacing: 0.34px;
    line-height: 36px;
    padding: 20px;
  }
  @media #{$desktop} {
    width: 398px;
    height: 106px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.34px;
    line-height: 36px;
  }
}
