/*-----FONT VARIABLES-------*/
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:300,400,500');
$fonts_primary: 'Hind', sans-serif;
$fonts_secondary: 'Frank Ruhl Libre', serif;
/*-----COLOUR VARIABLES------*/
$footer_backgroudcolor: #030310;

/*-----BUTTONS VARIABLES------*/
$button_green_color: #68c400;
$button_green_color_hover: #529a00;
$button_blue_color: #00aef1;
$button_blue_color_hover: #0088bc;

/*-----MEDIA QUERIES------*/
$tablet: "(min-width: 768px) and (max-width: 1039px)";
$desktop: "(min-width: 1040px)";
